*{
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background: lightyellow;
}

h2 {
    margin-bottom: -10px;
    padding: 20px 0;
    text-align: center;
    text-transform: capitalize;
    color: limegreen;
    font-size: 2rem;
}

p {
    color: brown;
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 50px;
}
.genrelist {
    margin-bottom: 25px;
}
.genre_btn {
    margin: 0 20px;
    color: firebrick;
    background: lightsalmon;
    padding: 5px;
    border-style: solid;
    border-radius: 5px;
    border-color: lightsalmon;
}
.genre_btn:hover {
    cursor: pointer;
    border-color: firebrick;
}

.movie {
    margin: 20px 20px;
    letter-spacing: 1px;
    color: brown;
    border-style: solid;
    border-width: thin;
    border-color: brown;
    border-radius: 5px;
    padding: 10px;
}
.movie_desc {
    width: 70vw;
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 5px;
    text-align: left;
    font-size: 0.9rem;
}
span {
    font-style: italic;
    font-size: 0.9rem;
}